In [5]:
# 전처리된 데이터를 가져온다.
import pandas as pd
finaljoined = pd.read_csv('finaljoined.csv',index_col = 0)

/Users/jinwon/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/jinwon/opt/anaconda3/lib/python3.8/site-packages/numpy/lib/arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [9]:
# user에 대한 정보만 남기고, DataFrame을 정리한다.
userlist = finaljoined.sort_values(
    by='insert_time',ascending = False
).drop(
    [
        'application_id','loanapply_insert_time',
        'bank_id','product_id','loan_limit',
        'loan_rate','is_applied','insert_time'
    ],
    axis = 1
).drop_duplicates(subset = ['user_id']).reset_index(drop = True)

In [11]:
# user에 대한 정보를 userlist.csv로 내보낸다.
userlist.to_csv('userlist.csv')

,index,user_id,birth_year,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
0,9024953,244440,2000-01-01,1.0,2022-06-30 23:54:47,800.0,30000000.0,PRACTITIONER,2022-05-01,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,0.0
1,8983162,450880,1976-01-01,0.0,2022-06-30 23:54:44,750.0,45000000.0,PRACTITIONER,2001-05-01,정규직,자가,50000000.0,대환대출,0.0,0.0,0.0,0.0
2,4415346,274137,1980-01-01,1.0,2022-06-30 23:53:51,830.0,50000000.0,EARNEDINCOME,2020-01-01,정규직,자가,45000000.0,생활비,0.0,0.0,3.0,45000000.0
3,9026815,397039,1982-01-01,1.0,2022-06-30 23:52:02,670.0,50000000.0,EARNEDINCOME,2017-12-01,정규직,기타가족소유,50000000.0,대환대출,0.0,0.0,3.0,59000000.0
4,8981419,250296,1999-01-01,1.0,2022-06-30 23:51:58,620.0,24000000.0,EARNEDINCOME,2022-04-01,계약직,기타가족소유,10000000.0,생활비,0.0,0.0,7.0,18000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317453,1028761,661317,1994-01-01,0.0,2022-03-01 00:17:06,200.0,30000000.0,EARNEDINCOME2,2021-04-01,정규직,기타가족소유,1000000.0,생활비,0.0,0.0,1.0,20000000.0
317454,2978803,334783,1984-01-01,1.0,2022-03-01 00:15:22,830.0,60000000.0,PRIVATEBUSINESS,2016-08-01,정규직,기타가족소유,100000000.0,사업자금,0.0,0.0,1.0,0.0
317455,1116698,866618,1978,0.0,2022-03-01 00:14:11,740.0,7.0,FREELANCER,2021-08-01,기타,전월세,5.0,생활비,0.0,0.0,0.0,0.0
317456,339749,706858,1973-01-01,1.0,2022-03-01 00:13:18,910.0,50000000.0,EARNEDINCOME,2005-02-01,정규직,자가,50000000.0,생활비,0.0,0.0,4.0,323000000.0
317457,611481,671631,1985-01-01,0.0,2022-03-01 00:12:39,550.0,15000000.0,EARNEDINCOME2,2021-07-01,정규직,전월세,10000000.0,생활비,0.0,0.0,6.0,34000000.0